head
  link(rel='icon' href='images/Kfl-1.png' width='50' height='50' type='image/ico')
  title  Draft Players 
  meta(name='Generator' content='EditPlus')
  meta(name='Author' content='')
  meta(name='Keywords' content='')
  meta(name='Description' content='')
  link(rel='stylesheet' href='css/bootstrap.min.css')
  // AngularJS
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js')
  link(rel='stylesheet' href='css/bootstrap.min.css')
  // Custom CSS
  link(href='css/custom.css' rel='stylesheet')
  script(src='vendor/jquery/jquery-3.2.1.min.js')
  script(type='text/javascript' src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
  link(rel='stylesheet' href='css/bootstrap.min.css')

  link(rel='stylesheet' type='text/css' href='css/main.css')
  script(src='js/main.js')
  link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

  s
  // Custom CSS
  link(href='css/custom.css' rel='stylesheet')
  script(src='js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='js/custom.js')
  

  script(type='text/javascript').
    //- $(init);

      var selectedPlayers;
      function allowDrop(ev) {
        ev.preventDefault();
        }
      function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        }
      function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        console.log(data);
        var player = document.getElementById(data);
        ev.target.appendChild(player);
        


        var IDs = [];
        $("#dvDest").find("img").each(function(){ IDs.push(this.id); });

        if(IDs.length >4){
            var playerIDList = document.createElement('input');
               playerIDList.value = IDs;
               playerIDList.name = "IDList";
               playerIDList.type = "hidden"
          ev.target.appendChild(playerIDList);
        }
        console.log(IDs.length);

        
        }

    //- $(".droppable-area1, .droppable-area2").sortable({
    //- connectWith: ".connected-sortable",
    //- stack: '.connected-sortable ul'
    //- }).disableSelection();
    
  style.
    #wrapper {
    width: 100%;
    }
    #page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
    background: url("images/profile_bg.jpg")no-repeat;
    background-size: cover;
    }
    .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    }
    .profile-usertitle {
    text-align: center;
    margin-top: 20px;
    }
    .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    }
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background: #fff;
    }
    .title {
    color: #000;
    background: #fff;
    padding: 7px 0px;
    font-size: 18px;
    }
    .page-header {
    color: #fff;
    }
    .connected-sortable img {
    height: 115px;
    width: 119px;
    margin: 3px 3px 5px;
    padding:0;
    }
    #dvSource, #dvDest{
    border: 5px solid #ccc; 
    margin: 10px;
    padding: 13px 5px 5px 10px;
    min-height: 400px;
    }
#wrapper
  // Navigation
  nav.navbar.navbar-default.navbar-static-top(role='navigation' style='margin-bottom: 0')
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.site_title(href='home')
        img(src='images/Kflcut.png' width='200' height='125' style='margin-left:25px;')
    // /.navbar-header
    h1(style='text-align:center; padding-top:40px; font-size:28px;') KIDS FANTASY LEAGUE
    .navbar-default.sidebar(role='navigation')
      .sidebar-nav.navbar-collapse
        .profile-userpic
          img.img-responsive(src='images/profile.png' alt='')
        // END SIDEBAR USERPIC
        // SIDEBAR USER TITLE
        .profile-usertitle
          .profile-usertitle-name
            a(href='/profile')= username 
        ul.text-center#side-menu.nav
          li
            a(href='/leaderboard')
              i.fa.fa-dashboard.fa-fw
              |  Leaderboard
          li
            a(href='/myteam')
              i.fa.fa-dashboard.fa-fw
              |  My Team
            a(style="margin-left:20px;" href='/getplayers')
              i.fa.fa-table.fa-fw
              | > Draft Players
          li
            a(href='/earnPoints' )
              i.fa.fa-dashboard.fa-fw
              |  Earn Points
          li
            a(href='/logout')
              i.fa.fa-edit.fa-fw
              |  Logout
          li.text-center
            a(href='#' 
            data-toggle='modal' 
            data-target='#modalPlayerForm') 
              |  Add Players
        
      // /.sidebar-collapse
    // /.navbar-static-side
  #page-wrapper
    .row
      .col-lg-12
      // /.col-lg-12
    br
    .row
      .col-lg-6
         #dvSource.connected-sortable.droppable-area1(ondrop='drop(event)' ondragover='allowDrop(event)')
          h3.page-header.text-center CHOOSE PLAYERS
          table(cellspacing='0' cellpadding='0' border='0' width='325')
            tr
              td
                table(cellspacing='0' cellpadding='1' border='1' width='500')
                  tr(style='color:white;background-color:grey')
                    th Picture
                    th Name
                    th Team
                    th Opponent
            tr
              td
                div(style='width:500px; height:400px; overflow:auto;')
                  table(cellspacing='0' cellpadding='1' border='1' width='300')
                    each val,index in playerlist
                      tr
                        td 
                          img(name="player"+index id=""+val._id alt='' draggable='true' ondragstart='drag(event)' src="/"  )
                        td
                          h4(style="color: white;")= val.name
                        td
                          h4(style="color: white;")= val.team
                        td
                          h4(style="color: white;")= val.opponent

      form#savePlayerform(action="/savePlayers" method='post')
        .col-lg-6
          #dvDest.connected-sortable.droppable-area2(ondrop='drop(event)' ondragover='allowDrop(event)')
           h3.page-header.text-center= teamName
           br
          button.btn.btn-primary.pull-right Save Team   
      .clearfix
  // /#page-wrapper
// /#wrapper
// Modal
#myModal.modal.fade.custom_save_btn(role='dialog')
  .modal-dialog.modal-sm
    // Modal content
    .modal-header
      button.close.custom_mdl_close(type='button' data-dismiss='modal') &times;
    .modal-content
      .modal-body.text-center
        p Your team saved successfully.
// /#wrapper
#modalPlayerForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header.text-center
        h4.modal-title.w-100.font-weight-bold Add New Player
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.mx-3
        form#addPlayerForm(method='post' action='/addPlayers')
          .md-form.mb-5
            #errorMessage(style='color:red; display:none')
          .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='pname' placeholder='Player name')
          .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='imgsrc' placeholder='Player image source')
          .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='team' placeholder='Player Team')
            .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='age' placeholder='Player Age')
            .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='points' placeholder='Player Points')
            .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='status' placeholder='Player Current status')
          
          .modal-footer.d-flex.justify-content-center
            button.btn.btn-default Submit 
            

